
.btn-group.hidden {
    display: none !important
}

.facetview_filters.hidden {
    display: none; !important;
}

.facetview_filters {
    font-size:10pt;
}

.row-fluid>.span3 {
    width:20%;
}

.row-fluid>.span9 {
    width:75%;
    font-size:10pt;
}

